.email-container{
    padding: 0;
    margin: 0;
    
    width: 100%;
    height: 100vh;
    
}
.inner-content{
    color: #000C66;
    font-size: 20px;
}
.Billpopupwarapper{
    padding: 20px;
    color: #000C66;
    width: 100% !important;
//     -webkit-box-shadow: -1px 1px 22px 5px rgba(196,188,196,1);
// -moz-box-shadow: -1px 1px 22px 5px rgba(196,188,196,1);
// box-shadow: -1px 1px 22px 5px rgba(196,188,196,1);
}