$btn-primary-color: #2D8CC0;
$btn-secondary-color: #D2D2D2;

$text-primary-color: #2D9BD6;
$text-secondary-color: #2D8CC0;


$badge-primary-bg-color: #07169F;
$badge-danger-bg-color: #D92727;
$badge-info-bg-color: #29CCFF;
$badge-warning-bg-color: #F9C718;
$badge-success-bg-color: #22DE2A;