


// @font-face {
//   font-family: 'Montserrat';
//   src: url('./assets/fonts/Montserrat-Regular.ttf') format('truetype');
//   font-display: 'swap';
// }

body {
 
  margin: 0;
  font-family: 'Montserrat', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}
